<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysRoleLanmuMapper">

    <resultMap type="SysRoleLanmu" id="SysRoleLanmuResult">
        <result property="roleId"    column="role_id"    />
        <result property="lanmuId"    column="lanmu_id"    />
    </resultMap>

    <sql id="selectSysRoleLanmuVo">
        select role_id, lanmu_id from sys_role_lanmu
    </sql>

    <select id="selectSysRoleLanmuList" parameterType="SysRoleLanmu" resultMap="SysRoleLanmuResult">
        <include refid="selectSysRoleLanmuVo"/>
        <where>
        </where>
    </select>

    <select id="selectSysRoleLanmuByRoleId" parameterType="Long" resultMap="SysRoleLanmuResult">
        <include refid="selectSysRoleLanmuVo"/>
        where role_id = #{roleId}
    </select>

    <insert id="insertSysRoleLanmu" parameterType="SysRoleLanmu">
        insert into sys_role_lanmu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">role_id,</if>
            <if test="lanmuId != null">lanmu_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">#{roleId},</if>
            <if test="lanmuId != null">#{lanmuId},</if>
        </trim>
    </insert>

    <update id="updateSysRoleLanmu" parameterType="SysRoleLanmu">
        update sys_role_lanmu
        <trim prefix="SET" suffixOverrides=",">
            <if test="lanmuId != null">lanmu_id = #{lanmuId},</if>
        </trim>
        where role_id = #{roleId}
    </update>

    <delete id="deleteSysRoleLanmuByRoleId" parameterType="Long">
        delete from sys_role_lanmu where role_id = #{roleId}
    </delete>

    <delete id="deleteSysRoleLanmuByRoleIds" parameterType="String">
        delete from sys_role_lanmu where role_id in
        <foreach item="roleId" collection="array" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

</mapper>